CLOUDAMQP_URL=amqps://USERNAME:PASSWORD@your-broker.lmq.cloudamqp.com/VHOST

INFLUX3_HOST=https://us-east-1-1.aws.cloud2.influxdata.com
INFLUX3_ORG=your_org
INFLUX3_DATABASE=your_database
INFLUX3_TOKEN=your_influx_token
